@import "bulma";
@import "~bulma-slider/dist/css/bulma-slider.min.css";
@import "~bulma-switch/dist/css/bulma-switch.min.css";
@import "~bulma-calendar/dist/css/bulma-calendar.min.css";

html {
  min-height: 100%
}

body {
  min-height: 100vh;
  background: #ebf8ff;
}

h1 {
  color: red;
}

.level-item {
  margin: 0 6px;
}

.is-parent {
  flex-wrap: wrap;
}

.navigation {
  margin-bottom: 16px;
}

.dropzone .dz-preview {
  z-index: 0 !important;
}

.question-row-labels {
  margin-bottom: 0;
}

.columns.answers {
  margin: 0;
}

.columns.answers .column {
  padding: 8px 20px 0;
}

.form-section {
  border-top: 1px solid lightgrey;
  padding: 10px;
  margin-top: 8px;
}

.form-section-label {
  font-size: 1.2rem;
  margin-top: 20px;
  padding: 0 0 0 8px;
  letter-spacing: 2px;
}

.router-link-exact-active {
  background: #209cee !important;
  color: #fff !important;
}